/*
  DIAGNOSTIC STYLING
*/
body {
  background:black;
}


/************
LAYOUT
************/
body {
  /* Center to Page   */
color:white;
}

.navbar-brand {
  justify-content: space-around;
  width:100%;
  background-color:black;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1em;
}

a:link, a:visited {
  color:white;
}
nav.navbar a:hover {
  color: teal;
}



/************
HEADER
************/
/* Your Styles */


/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/************
Synopsis
************/
article {
  color:white;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
}
article p {
  max-width:75ch;
}
.subhead {
  font-size:2.5em;
  font-family:'Pathway Gothic One', sans-serif;
}
li {
  margin:20px;
  display: inline;
  color:white;
  font-family: 'Pathway Gothic One', sans-serif;
}
  #similar {
    position: relative;
    width:  190px;
    height: auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin:10px;
}
#similar:hover {
  transform: scale(1.1); 
  }
  /* Actors */
  .cast {
    position: relative;
     width:  180px;
     height: auto;
     background-position: 50% 50%;
     background-repeat:   no-repeat;
     background-size:     cover;
     margin:0 10px;
  }
  .cast:hover {
    transform: scale(1.1); 
}
.column {
  margin:0 20px;
}
  .people {
   font-family: 'Open Sans', sans-serif;
   color:white;
   font-size:1em;
   text-align:center;
  
 }
 .people:hover {
   color: teal;
 }
 .subhead {
   font-size:2.5em;
   font-family:'Pathway Gothic One', sans-serif;
   color:white;
 }
/************
FOOTER
************/
footer {
  text-align: center;
  font-family:'Open Sans', sans-serif;
  color:white;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  list-style: none;
}

footer li img {
  margin: 0 .5em;
}

.navbar-brand {
  justify-content: space-around;
  width:100%;
  background-color:black;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1em;
}

a:link, a:visited {
  color:white;
}
nav.navbar a:hover {
  color: teal;
}

/************
RWD
************/
